* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
}

.statement {
    color: white;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(./home-image.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 70px;
    align-items: center;
    background-color: gray;
    position: fixed;
}

.nav-items {
    color: black;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.sub-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 42px;
}

.sub-statement {
    width: 50%;
}

.sub-hero {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.gallery-img1 {
    padding-bottom: 40px;
}

.gallery-img2 {
    padding-top: 40px;
}

.offer-items {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}

.features {
    margin: 50px;
    text-align: center;
}

.features h5 {
    color: blue;

}

.button {
    background-color: white;
    color: blue;
    border: 2px solid rgb(40, 88, 84);
    margin: 20px;
    padding: 10px 100px;
}

.button-div {
    text-align: center;
}

.footer-bg {
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 100%;
    justify-content: space-evenly;
    height: 50vh;
    padding-top: 60px;
    color: white;
}

.address {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.reservation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.navigation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.newsletter {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.footer-title {
    padding-bottom: 30px;
}

.mail {
    padding: 5%;
    padding-left: 10%;
}

.sign {
    color: blue;
}

.text-white {
    color: white;
    column-gap: 50px;
}

.logo {
    color: white;
}

.horizontal {
    height: 1px;
    background-color: white;
    width: 80%;
    margin: auto;
}
.bottom-text{
    display: flex;
    flex-direction: row;
    color: white;

}

.footer-icons  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;
}
.bottom-icons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}